<div class="show-movie-page">
  <div>
    <video width="100%", controls>
      <source src="<%= @movie_support.movie.link %>" type="video/mp4">
    </video>
  </div>
  <div class="share-like-bar">
    <div class="btn-actions fl-left">
      <%= link_to t(".like"), "#", class: "glyphicon glyphicon-thumbs-up", id: "like" %>
    </div>
    <div class="btn-actions fl-left">
      <%= link_to t(".unlike"), "#", class: "glyphicon glyphicon-thumbs-down", id: "unlike" %>
    </div>
    <div class="btn-actions fl-left">
      <%= link_to t(".report"), "#", class: "glyphicon glyphicon-flash" %>
    </div>
    <div class="fl-right social-share-button ssb-icon">
      <div>
        <%= social_share_button_tag(@movie_support.movie.name,
          url: "http://google.com") %>
      </div>
    </div>
  </div>
  <div class="tn-main-l">
    <div class="block-movie">
     <div class="header-block-title"><%= t ".film_info" %></div>
     <div class="block-child">
        <div class="filminfo-fields">
          <ul>
            <li>
              <%= t ".movie_name" %><strong class="text-blue"><%= @movie_support.movie.name %></strong>
            </li>
            <li><%= t ".type" %><%= @movie_support.movie.category_name %></li>
            <li><%= t ".country" %><%= @movie_support.movie.country_name %></li>
            <li>
              <%= t ".duration" %>
              <span class="text-red">
                <%= @movie_support.movie.film_length %><span></li>
            <li>
              <%= t ".director" %>
              <span class="text-blue">
                <%= @movie_support.movie.director %><span></li>
            <li>
              <%= t ".actors" %>
              <span class="text-blue">
                <% actors = @movie_support.movie.actors.split(',') %>
                <% actors.each do |actor| %>
                  <%= link_to actor, searchs_path(@movie, search: actor) %>
                <% end %>
              <span>
            </li>
          </ul>
        </div>
        <div>
          <div class="rate-star">
            <span id="rate-star">
              <% unless @movie_support.movie.rating.nil? %>
                <%= @movie_support.movie.rating.round(1) %>
              <% end %>
            </span>
          </div>
          <div class="rate-vote">
            <div class="your-vote"><%= t ".your_rate"%></div>
            <div class="rate-movie">
              <input type="hidden" value="<%= @movie_support.rating_movie.id if
                @movie_support.rating_movie.present? %>" id="your_rate_id">
              <input type="hidden" value="<%= @movie_support.rating_movie.rating if
                @movie_support.rating_movie.present? %>" id="your_rate">
              <input type="hidden" value="<%= @movie_support.movie.id %>"
                id="movie_id_field">
              <% 5.times do |n| %>
                <%= image_tag(Settings.star_off, title: Settings.rating_rank[n],
                  alt: "#{n+1}", class: "star-movie") %>
              <% end %>
              <span id="require_login"></span>
            </div>
            <div class="rate-people">
              <%= t ".rating" %>
              <span id="rate_text">
                <% unless @movie_support.movie_rating.nil? %>
                  <%= @movie_support.movie_rating.round(1) %>
                <% end %>
              </span>
              <%= t ".from" %>
              <span id="total_rater"><%= @movie_support.total_rater %></span>
              <%= t ".member" %>
            </div>
          </div>
        </div>
        <div class="description-box">
          <%= @movie_support.movie_description %>
          <a></a>
          <div class="line-bottom"></div>
        </div>
     </div>
    </div>
  </div>
  <div class="tn-main-r">
    <div class="block-movie">
      <div class="block-child">
        <div class="title-head clearfix">
          <div class="fl-left">
            <strong>
              <span id="total_comments"><%= @movie_support.total_comments %></span>
              <%= t ".comment" %>
            </strong>
          </div>
          <div class="fl-right">
            <%= form_tag [@movie_support.movie, @comment], method: :get do %>
              <%= select_tag :comment_order, options_for_select([["Newsest", "1"],
                ["Oldest", "2"]],params[:comment_order]), class:"form-control" %>
            <% end %>
          </div>
          <div class="fl-right">
            <%= t ".order_by" %>
          </div>
        </div>
        <div class="comment-bar">
          <div class="avatar">
            <% if user_signed_in? %>
              <%= image_tag (current_user.avatar_file_name.nil? ? "no-image.png" : current_user.avatar.url(:small)) %>
            <% else %>
              <%= image_tag "no-image.png" %>
            <% end %>
          </div>
          <%= render "comments/form" %>
        </div>
        <div class="comment-body" id="comment-body">
          <%= render @comments %>
          <%= paginate @comments, theme: "twitter-bootstrap-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
