<% provide :title, t(".show_detail") %>
<div class="cover-form">
  <h1 class="fix-h1"><%= t ".movie_detail" %></h1>
  <div class="row movie-show-form">
    <div class="col-md-3">
      <div>
        <%= image_tag @movie.image.url %>
      </div>
    </div>
    <div class="col-md-9">
      <table class="table table-hover">
      <tbody>
        <tr>
          <td class="title"><%= t ".name" %></td>
          <td><%= @movie.name %></td>
        </tr>
        <tr>
          <td class="title"><%= t ".length" %></td>
          <td><%= @movie.film_length %></td>
        </tr>
        <tr>
          <td class="title"><%= t ".director" %></td>
          <td><%= @movie.director %></td>
        </tr>
        <tr>
          <td class="title"><%= t ".actors" %></td>
          <td><%= @movie.actors %></td>
        </tr>
        <tr>
          <td class="title"><%= t ".category" %></td>
          <td><%= @movie.category_name %></td>
        </tr>
        <tr>
          <td class="title"><%= t ".country" %></td>
          <td><%= @movie.country_name %></td>
        </tr>
        <tr>
          <td class="title"><%= t ".kind" %></td>
          <td><%= @movie.kind %></td>
        </tr>
        <tr>
          <td class="title"><%= t ".description" %></td>
          <td><%= @movie.description %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to (t ".back"), admin_movies_path, class: "btn btn-default mg-top" %>
    <%= link_to (t ".view_links_chapters"), "#", class: "btn btn-default mg-top" %>
    </div>
  </div>
</div>
