<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="main-menu">
    <%= link_to (t ".movie_app"), "#", id: "logo" %>
  </div>
  <div>
    <nav class="right-menu">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "", admin_movies_path,
            class: "glyphicon glyphicon-home" %>
        </li>
        <li><%= link_to (t ".users"), admin_users_path %></li>
        <li><%= link_to (t ".movies"), admin_movies_path %></li>
        <li><%= link_to (t ".categories"), admin_categories_path %></li>
        <li><%= link_to (t ".countries"), admin_countries_path %></li>
        <% if user_signed_in? %>
          <div id="account-picker" class="pull-right">
            <div id="account-picker-ava">
              <%= image_tag (current_user.exist_avatar ? "no-image.png" : current_user.avatar.url(:small)) %>
            </div>
            <div class="card-border-arrow-backside"></div>
            <div class="card-border-arrow"></div>
            <div id="account-profile">
              <div class="profile-email">
                <%= current_user.email %>
              </div>
              <div class="profile-ava-name">
                <div class="pull-left">
                  <%= image_tag (current_user.exist_avatar ? "avatar.png" : current_user.avatar.url(:medium)) %>
                </div>
                <div class="pull-left name">
                  <%= current_user.name %>
                </div>
              </div>
              <div class="support-div"></div>
              <div class="profile-setting">
                <div class="pull-left settings">
                  <%= link_to t(".settings"), edit_user_registration_path,
                    class: "btn btn-default btn-link-fix" %>
                </div>
                <div class="pull-right logout">
                  <%= link_to t(".logout"), destroy_user_session_path,
                    method: :delete, class: "btn btn-default btn-link-fix" %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <li><%= link_to (t ".login"),  new_user_session_path,
            class: "glyphicon glyphicon-log-in" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
