<header class="navbar navbar-fixed-top navbar-inverse color-head">
  <div class="main-menu">
    <%= link_to (t ".movie_app"), movies_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "", movies_path, class: "glyphicon glyphicon-home" %></li>
        <li>
          <a href="#" title="<%= t ".types" %>">
            <span><%= t ".types" %></span>
          </a>
          <ul class="sub-menu span-2 absolute">
            <% @categories.each do |category| %>
              <li class="sub-menu-item">
                <%= link_to category.name, searchs_path(@movie,
                  category_id: category.id), title: category.name %>
              </li>
            <% end %>
          </ul>
        </li>
        <li>
          <a href="#" title="<%= t ".country" %>">
            <span><%= t ".country" %></span>
          </a>
          <ul class="sub-menu span-3 absolute">
            <% @countries.each do |country| %>
              <li class="sub-menu-item">
                <%= link_to country.name, searchs_path(@movie,
                  country_id: country.id), title: country.name %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
      <div class="col-lg-4">
        <%= form_tag searchs_path, method: :get, role: "search" do %>
          <div class="input-group custom-search-form">
            <%= text_field_tag :search, params[:search], class: "form-control",
              placeholder: t(".placeholder_text") %>
            <span class="input-group-btn">
              <%= button_tag( type: "submit", class: "btn btn-default") do %>
                <span class="glyphicon glyphicon-search"></span>
              <% end %>
           </span>
          </div>
        <% end %>
      </div>
    </nav>
  </div>
  <div>
    <nav class="right-menu">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <div id="account-picker" class="pull-right">
            <div id="account-picker-ava">
              <%= image_tag(current_user.exist_avatar ? "no-image.png" : current_user.avatar.url(:small), class: "ava-style") %>
            </div>
            <div class="card-border-arrow-backside"></div>
            <div class="card-border-arrow"></div>
            <div id="account-profile">
              <div class="profile-email">
                <%= current_user.email %>
              </div>
              <div class="profile-ava-name">
                <div class="pull-left">
                  <%= image_tag (current_user.exist_avatar ? "avatar.png" : current_user.avatar.url(:medium)) %>
                </div>
                <div class="pull-left name">
                  <%= current_user.name %>
                </div>
              </div>
              <div class="support-div"></div>
              <div class="profile-setting">
                <div class="pull-left settings">
                  <%= link_to t(".settings"), edit_user_registration_path,
                    class: "btn btn-default btn-link-fix" %>
                </div>
                <div class="pull-right logout">
                  <%= link_to t(".logout"), destroy_user_session_path,
                    method: :delete, class: "btn btn-default btn-link-fix" %>
                </div>
              </div>
            </div>
          </div>
          <% else %>
          <li><%= link_to (t ".sign_up"),   new_user_registration_path,
            class: "glyphicon glyphicon-plus-sign" %></li>
          <li><%= link_to (t ".login"),  new_user_session_path,
            class: "glyphicon glyphicon-log-in" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
